:root {
    --formColor: lightblue;
}


body {
    font-family: sans-serif;
    background-color: grey;
}

.mainFrame {
    width: 100%;
    max-width: 1300px;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.inputBox {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid var(--formColor);
    width: fit-content;
    height: 24px;
}

.inputBox:hover {
    cursor: pointer;
}

input:focus {
    /* background-color: var(--formColor); */
}

.infoIcon {
    width: 16px;
    height: auto;
    fill: darkslategrey;

    position: relative;
}

.quest {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 0px;
    background-color: lightblue;
}

.intermissionDiv {
    display: grid;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.intermissionDiv a {
    background-color: lightblue;
    padding: 10px 20px;
    text-decoration: none;
    color: black
}

.mainFrame2 {
    display: grid;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    background-color: turquoise;
    
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.incomeHeader {
    padding-top: 50px;
}

.incomeGrid {
    padding: 40px;
    width: 100%;
    border-bottom: 2px dashed black;
}

.valuesContainer {
    justify-self: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: space-between;
    height: 24px;
    margin-top: 20px;
}

.valuesContainer p {
    padding: 0px;
    margin-top: 5px;
}

.valuesButton {
    text-decoration: none;
    color: black;
    background-color: lightblue;
    padding: 10px 20px;
    display: none;
}

.questsFlex {
    padding-bottom: 50px;
}

.arrowIcon {
    height: 30px;
    width: auto;
    background-color: lightblue;
    padding: 1px 5px;
    position: absolute;
    top: 50%;
    right: 20px;
}